
<div class='col-12'>
  <form class='mx-auto' accept-charset="UTF-8" action="/posts/"  method="post">

   
      
      
        
        <hr>
        <div class='text-center col-12 imagenn'>
          <div>
            <h5 class='text-center'>Name</h5>
            <div class='mx-auto'>
              <div>
                <p class="image is-64x64 ">
                    <img src="https://bulma.io/images/placeholders/64x64.png" class='img-container'>
                </p>
              </div>
            </div>
            
          </div>
          <div class=''>

            <input class='input' type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input class='input content ' type="textarea" id="post" name="post[post]" placeholder='Write here...' cols=100> rows=200<br><br>
          
            <div class='row d-flex justify-content-between'>
              <div class='mx-auto'>
                <input type="submit" value="Submit">
              </div>
            </div>
          </div>
          
        </div>
        
        
 
    
    
  </form>
</div>