<div>
  <form class='form' accept-charset="UTF-8" action="/posts/"  method="post">
  
    <div class="field">
      <div class="control">
      
        <label for='twee' class='label'>Start</label>
        <hr>
        <div class='foorm'>
          <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
          </figure>
          <input class='input' type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input class='input' type="text" id="post" name="post[post]" value='name'><br><br>
         
          
        </div>
        
        
      </div>
    </div>
    <div class='form-links foorm'>
      <div class='font-icons'>
        <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
        <i class="fa fa-gift fa-lg" aria-hidden="true"></i>
        <i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>
        <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
        <i class="fa fa-calendar-check-o fa-lg" aria-hidden="true"></i>
      </div>
      <input type="submit" value="Submit">
    </div>
    
  </form>
</div>