<div class='col-9 caja1 mx-auto caja'>    
    <% @posts.each do |post| %>
        <% if usuario_signed_in? %>
            <div class='col-11  bg-light row mx-auto'>           
                <div class='col-2 mx-auto bg-light'>
                    <div class='imagen'></div>
                    <strong><p> <%= post.usuario.email %></p></strong><br />   
                </div>
                <div class='m-2 border col-9 mx-auto'>
                    <p><%= post.post %></p>
                </div>
            </div>
        <% else %>
            <div class='col-11  bg-light row mx-auto'>   
                <div class='col-2 mx-auto bg-light'>
                    <div class='imagen'></div>  
                </div>         
                <div class='m-2 border col-9 mx-auto'>
                    <p><%= post.post %></p>
                </div>
            </div>
        <% end %>
    <% end %> 
        
</div>