<div class='col-9 caja1 mx-auto caja'>    
    <% @posts.each do |post| %>
        
            <div class='col-11  bg-light row mx-auto'> 
                <%= image_helper %>   
                <div class='m-2 border col-9 mx-auto'>
                    <strong><p class='text-center'><%= post.title %></p></strong>
                    <p><%= post.post %></p>
                </div>
            </div>
       
        
    <% end %> 
        
</div>