<div class='container-fluid caja'>
  <div class='container col-11 row mx-auto'>
    <%= render 'posts' %>
    <div class='col-3 bg-warning caja'></div>
  </div>

</div>

<%= link_to 'New Post', new_post_path %>
