@import "bootstrap/scss/bootstrap";

.caja{
    height:100vh;
}

.caja1{
    background: rgba(43, 212, 156, 0.815);
}

.imagen{
    border:2px solid white;
    width:80px;
    height: 80px;
    background: brown;
    border-radius:100%;
}